/*
 * General Styles
*/

body {
  background: #ddd;
  font-family: "Open Sans", arial, sans-serif;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 28px;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/

h1,
h2 {
  font-family: "Lobster", cursive;
  color: #e22f8f;
  text-align: center;
  margin-bottom: 32px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

/*
 * Container Styles
*/

.container {
  width: 600px;
  margin: 100px auto;

}

section.intro {
  background: #fff;
}

section.intro,
section.contact {
  padding: 40px;
}

.hero{
  line-height: 0px;
}

.hero img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

aside{
  padding-left: 20px;
  padding-right: 20px;
}
aside.left {
  float: left;
}
aside.right {
  float: right;
}

.contact{
  text-align: center;
}